@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background-color: aqua;
}

form{
    background-color: aquamarine;
    width: 100%;
    max-width: 480px;
    border-radius: 16px;
    overflow: hidden;
    margin: 50px auto;
    padding: 20px;
    color: rgb(53, 138, 212);
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}
.form-group{
    margin-bottom: 18px;
}
.radio-group{
    display: flex;
    gap: 20px;
    margin-top: 8px;
}

.checkbox-group{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}
.button-group{
    display: flex;
    gap: 12px;
    margin-top: 20px;
}
button{
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}
input[type="text"]
input[type="number"]
input[type="email"]
input[type="password"]
select{
    width: 100%;
    padding: 10px 12px;
    border: 2px solid paleturquoise;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(98, 98, 157);
}
footer{
    text-align: center;
}